<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionsStrings>
        <add name="sql" connectionString="server=192.168.1.108:1433\MSSQLSERVER; integrated security=true;database=LibrosApp" />
    </connectionsStrings>
</configuration>